/* --------- Variables ---------- */

$primary: #F2D7D9;
$secondary:#D3CEDF;
$thirt: #748DA6;
$accent:#9CB4CC;
$text-color:#1a1a1a;
$text-white: #ffffff;
$gradiente: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));

$spacing-large:6rem;
$spacing-medium:2,4rem;
$spacing-small:2rem;
$spacing-xsmall:1rem;


/*Font-Sizes*/
$text-large:5.2em;
$text-medium:2.2em;
$text-base:1.6em;
$text-small:1.4em;
