/* empezamos limpiando todo a cero */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;

}

/* helpers */


html{
    font-size: 62.5%;
    background-color: $primary;
    padding: 0;
    
}
body{
    background-color: $primary;
}


h1{
    font-size: 5rem;

}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.5rem;
    margin: 10px 0px 10px 0px;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 2rem;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}

.text-white{
    color: $white;
}

